<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
<div class="container" id="container">
    <div class="form-container">
        {{{body}}}
    </div>
</div>
</main>
</body>

</html>