<!DOCTYPE html>
<html lang="en">

<head>

	<title>AGORA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ad</title>
	<link rel="stylesheet" type="text/css" href="/css/jass.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>

<body>

	<header>
		<div class="container">
			<div class="left-section">
				<div class="About">
					<h1>AGORA</h1>
					{{!-- <a href="url">AGORA</a>. --}}
				</div>
			</div>
		</div>

	</header>
	<div id="wrapall">
		<div id="sidebar">
			<aside>

					<div class="user-dropdown">
						<button class="dropdown-button">USER OPTIONS</button>
						<div class="dropdown-content">
							<a href="/">HOME PAGE</a>
							<a href="/login">LOGIN</a>
							<a href="/signup">SIGNUP</a>
						</div>
					</div>
			</aside>
		</div>
		<div id="main">
			{{{ body }}}
		</div>
	</div>
	<script src="../../public/app.js"></script>

	<footer class="footer">
		<a href="https://github.com/tatiana404/Second_Project_2">Our GitHub Project Link</a>
	</footer>
</body>

</html>