<!DOCTYPE html>
<html lang="en">

<head>

    <title>AGORA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ad</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">

</head>

<body>

<header>
    <div class="left-section">
        <div class="About">
            <h1>AGORA</h1>
        </div>
    </div>
    <div class="main-section">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
        </div>
    </div>
    <div class="user-profile">
        <img class="user-avatar" src="user-avatar.jpg" alt="User Avatar">

        <div class="user-dropdown">
            <button class="dropdown-button">User Options</button>
            <div class="dropdown-content">
                <a href="/">Home page</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
        </div>
    </div>
</header>
<div id="wrapall">
    <div id="sidebar">

        <aside>
            <div>some info <img src="./00000.jpg"> </div>

        </aside>
    </div>
    <div id="main">
        {{{ body }}}
    </div>
</div>
<script src="../../public/app.js"></script>
</body>

</html>