<div class="home">
	<p>
		{{#unless loggedIn}}
		{{!-- <a href="/login">Login</a> --}}
		{{/unless}}
		{{!-- <a>Home page</a> --}}
	</p>
</div>

<section id="page">
	<main>

		<div class="container" id="inputDisplayContainer">
			<div id="inputList"></div>
		</div>

		<div class="container" id="inputForm">
			
			<form id="myForm">
			
				<input type="text" id="textInput" required>
				<button id="submit">Submit</button>
			</form>
		</div>

	</main>

</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="app.js"></script>