<div class="container-auth" id="container">
        <div class="form-container">
<form class="form login-form">
  <h1>Sign in to Agora</h1>
  <div class="form-group">
    <input placeholder="email" class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <input placeholder="password" class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="login-button" type="submit">login</button>
  </div>
  <p class="question-to-sign-up">Don't have an account? <a href="/signup" class="sign-up-link">Sign up</a></p>
</form>
 </div>
    </div>

<script src="/js/login.js"></script>