<div class="row align-center mb-5">
  <div class="col-md-6">
    <h3><a>Change username</a></h3>
    <h3><a>Change profile picture</a></h3>
    <h3><a>Change background picture</a></h3>
    <h3><a>Permanently delete account</a></h3>
  </div>
</div>