<div class="container-auth" id="container">
        <div class="form-container">
<form class="form signup-form">
    <h1>Create your account</h1>
    <div class="form-group">
        <input placeholder="username" class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
        <input placeholder="email" class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <input placeholder="password"  class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="signup-button login-button" type="submit">signup</button>
    </div>
</form>
 </div>
    </div>

<script src="/js/signup.js"></script>