html,body,div,h2,p,img,strong,article,aside,header,menu,section{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{
    line-height:1;
    font-family:sans-serif
}
h2 {
    font-size:25px;
    text-align:center;
}


body,html{
    background-color: rgb(98, 173, 236)
}
header{
    background:#3737c6;
    padding:10px 30px;
    margin:auto;
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index:999;
    height:40px
}

#tweet-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #tweet-text {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  #tweet-button {
    background-color: #042235;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
article{
    border-bottom:2px dotted #998;
    padding-bottom:20px;
    margin-bottom:20px;
    overflow:hidden 
}

article h2{
    font-weight:normal;
    margin-bottom:12px;
    
}
article h2:hover{
    color:#e4e3e3;
    background:rgb(48, 44, 108)


} 
.section-img{
    display: block;
    width: 100px;
    height: auto;
}

aside > div{
    margin:10px auto;
    background:rgb(38, 55, 119);
    min-height:150px;
    padding:30px 10px;
    text-align:center;
    color:#FFF
}
 aside > div img {
    display: block;
    width: 100px;
    height: auto;
    margin: 30px auto;
 }

#main{
    flex: 1;
    min-width: 0;
}
#wrapall{
    padding-top:60px;
    display: flex;
}

#header{max-width:1000px;
    overflow:hidden;
    height:70px;
    display:flex;
    justify-content: space-between;
}

#wrapall,#header{
    max-width:1100px;
    margin:0 auto
}

#sidebar{
    width: 300px;
    padding: 10px;

}

#page{
    padding:20px
}


.socialButtons{
    float:right;
    padding-top:8px
}
.socialButtons a{
    display:inline-block;
    cursor:pointer;
    background:#0570e6;
    padding:2px;width:33px;
    text-align:center;
    height:20px;
    font-weight:bold;
    color:#FFF;
    text-decoration:none;
    line-height:20px;
    font-size:20px;
    border-radius:5px;
    vertical-align:middle
}

section{
    position: relative;
    text-align: center;
}
.socialButtons a.linkedin{
    background:#24568e
}

.container-auth {
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 600px;
    max-width: 100%;
    min-height: 650px;

.sidebarToggle #main{
    margin-left:0

}

.Post1 {
    margin-bottom: 20px;
    padding: 50px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

 .Post2 {
    margin-bottom: 20px;
    padding: 50px;
    height: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


aside > div{
    min-height:20px;
    padding:10px;
}